@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro';

color = ( #333 #787 #999)

body
	font-family: 'Source Sans Pro', sans-serif;
	font-size 1.5em

.encabezado
	background radial-gradient(circle at 0% 50%, rgba(168, 168, 168, 0) 9px, #ddd 10px, rgba(168, 168, 168, 0) 11px) 0px 10px, radial-gradient(at 100% 100%, rgba(168, 168, 168, 0) 9px, #ddd 10px, rgba(168, 168, 168, 0) 11px), #efefef;
	background-size 20px 20px
	margin 0
	
	ul.nav
		margin-top -5em
		padding 1em
		display inline-block
		background #004466
		list-style none
		
		a			
			color white
			
		a:hover
			background #b8c5cc

#pc
	text-align center
	margin 2em auto
	vertical-align text-bottom
	
	img
		width 25%
		
	#books
		vertical-align text-bottom
		
		img
			width 100%
			
	
	#logo_svg
		margin 2em auto
		img
			width 65%
			
	p.description
		color #0088CC
		font-size 18px
		font-weight bold
		
	#tablet
		display flex
		align-items: flex-end
		
		img
			width 70%
	#teclado
		img
			width 50%
.titulo1
	margin-bottom 2em
	color #004466
	text-align center
	font-size 3em
	
.container
	text-align center
	padding 0.8em
	/*background blue*/
	border 2px solid gray
	border-radius 5px

	img
		max-width 50%
		border 8px solid #b8c5cc